* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-color: oklch(69.455% 0.12822 347.742);
    color:rgb(0, 0, 0);
    padding-inline: 2rem;
}

#page {
    max-width: 120rem;
    margin-inline: auto;
}

header {
    padding-block: 2rem;
    text-align: auto;
}

fieldset {
    padding: 2rem;
    margin-bottom: 3rem;
    border-radius: 1rem;

    label {
        display: block;
    }

    div {
        margin-bottom: 1rem;
    }

    input {
        padding: 1rem;
        border-radius: 1rem;
        border: none;
        color: rgb(0, 0, 0);
    }

    input:focus,
    input:hover {
        outline: 2px solid oklch(82.3% 0.12 346.018);
    }

    input::placeholder {
        color: oklch(62.258% 0.23133 343.249);
    }

    input[type=file] {
        color: oklch(54.786% 0.23168 342.679);
    }

    input[type=checkbox],
    input[type=radius] {
        outline: none;
    }

    input + label {
        display: inline;
    }

    h2 {
        margin-bottom: 2rem;
    }

    select,
    textarea {
        padding: 1rem;
        border-radius: 1rem;
        resize: none;
    }
}

button {
        padding: 1rem 2rem;
        margin-bottom: 2rem;
        background-color: oklch(64.319% 0.14204 151.949);
        border: none;
        color: #FFF;
        border-radius: 1rem;
        font-weight: bold;
    }

    button:hover{
        background-color: #065c20;
        cursor: pointer;
        transition: ease-in-out .4s;
    }